<!-- Portfolio Modals -->
{% for post in site.posts %}
<div class="portfolio-modal modal fade" id="portfolioModal-{{ post.modal-id }}" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>{{ post.title }}</h2>
                        <hr class="star-primary">

                            {% if post.video-url != null %}
                            <div class="videoWrapper">
                            <iframe width="640" height="360" src={{ post.video-url }} frameborder="0" allowfullscreen></iframe>
                            </div>
                            {% endif %}                        
                        
                        
                            {% if post.sketchfab-url != null %}
                            <div class="videoWrapper">
                                <div class="sketchfab-embed-wrapper"><iframe width="640" height="480" src={{ post.sketchfab-url }} frameborder="0" allowvr allowfullscreen mozallowfullscreen="true" webkitallowfullscreen="true" onmousewheel=""></iframe>
                                </div>
                            </div>
                            {% endif %}

                        <!--
                            <img src="img/portfolio/{{ post.img }}" class="img-responsive img-centered" alt="{{ post.alt }}">
                            -->

                        <div class="img-responsive img-centered">
                            <a href={{ post.shop-url }} target="_blank" class="btn btn-lg downloadbtn-outline">
                                <i class="fa fa-download"></i> BUY IT!
                            </a>
                        </div>
                        <br>
                        <p>{{ post.description }}</p>
                        <br>

                        <div id="wrapper" style="text-align: center">
                            <div id="yourdiv" style="display: inline-block">
                                <ul style="text-align: left">
                                    <li>{{ post.f1 }}</li>
                                    <li>{{ post.f2 }}</li>
                                    <li>{{ post.f3 }}</li>
                                    <li>{{ post.f4 }}</li>
                                </ul>

                            </div>
                        </div>

                        <br>
                        <!--                        
                        <ul class="list-inline item-details">
                            <li>Client:
                                <strong><a href="http://startbootstrap.com">{{ post.client }}</a>
                                    </strong>
                            </li>
                            <li>Date:
                                <strong><a href="http://startbootstrap.com">{{ post.project-date }}</a>
                                    </strong>
                            </li>
                            <li>Service:
                                <strong><a href="http://startbootstrap.com">{{ post.category }}</a>
                                    </strong>
                            </li>
                        </ul>
 -->
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}
